#content {
   max-width: 1600px;
   margin: 0 auto;
}
nav a{
    text-align: center;
    color:#d36135;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
#hero-img{
    width: 100%
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
body{
    background-color: #6daedb;
    background-color: #6daedb;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    margin: 0;
    padding:0;
}
header {
    background-color: rgba(20, 30, 13, .7);
}
nav a:hover {
    background-color: #a3f7b5;
    color: #d36135;
}
.home-title {
    color: #001427;
    font-family:'Times New Roman', Times, serif;
    margin-top: 10px;
}
h4{
    color:#001427
}
.book, .join {
    background-color: #d36135;
    text-decoration: none;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #E8DFB3;
}
.msg h2 {
    color:#001427
}
.msg p{
    color:#001427;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 15px;
}
#background{
    background-color:#313b72;
}
.msg {
    background-color: #a3f7b5;
    padding-bottom:35px;
}
footer {
    background-color:#a3f7b5;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    color: #001427;
    text-decoration: none;
}
footer a:hover {
    color: #001427
}
footer p{
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
.icon .logo{
    width:80px;
}
.icon{
    padding-top: 10px;
}
footer .social img{
    padding-top: 15px;
}
.rivers-card, .camping-card, .rapids-card {
margin: 200px 0;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}